/* Variáveis de cores */
:root {
    --bg-light: #d3d3d3; /* Fundo geral */
    --bg-dark: #a9a9a9; /* Linhas diagonais */
    --container-bg: #ffffff; /* Fundo branco do container */
    --container-border: #000000; /* Cor da borda do container */
    --text-dark: #333333; /* Texto escuro */
    --text-light: #555555; /* Texto claro */
}

/* Configurações gerais */
body {
    margin: 0;
    height: 100vh;
    background-color: var(--bg-light);
    background-image: linear-gradient(-45deg, var(--bg-dark) 10%, transparent 10%, transparent 50%, var(--bg-dark) 50%, var(--bg-dark) 60%, transparent 60%, transparent);
    background-size: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Fonte sans-serif espessa */
    flex-direction: column;
}

/* Configurações do container */
.container {
    background-color: var(--container-bg); /* Fundo branco */
    border: 1px solid var(--container-border); /* Borda fina */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Sombra com deslocamento menor e mais difusa */
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px; /* Cantos arredondados */
    position: relative; /* Necessário para sombras internas */
    margin-bottom: 20px; /* Espaço entre o container e o bloco clicável */
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Estilo do título, subtítulo e parágrafo */
h1 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 800; /* Espessura máxima */
    color: var(--text-dark);
}

h2 {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 800; /* Espessura máxima */
    color: var(--text-dark);
}

p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700; /* Espesso */
    color: var(--text-light);
}

/* Estilo do bloco clicável */
.clickable-block {
    background-color: var(--container-bg); /* Fundo branco */
    border: 1px solid var(--container-border); /* Borda fina */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Sombra com deslocamento menor e mais difusa */
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px; /* Cantos arredondados */
    position: relative; /* Necessário para sombras internas */
    cursor: pointer; /* Indica que o bloco é clicável */
    margin-bottom: 20px; /* Espaço entre o bloco e o próximo elemento */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição para transform e box-shadow */
    width: 100%;
}

/* Efeito de hover no bloco clicável */
.clickable-block:hover {
    transform: scale(1.02) !important; /* Leve elevação ao passar o mouse */
    /*box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.4);  Sombra mais forte no hover */
}

.clickable-block img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
